body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background: url('../imgs/bg_1.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

#scoreBoard {
    font-family: 'VT323', monospace;
    width: 285px;
    height: 80px;
    margin: 1em 1em 0 0;
    padding: 15px;
    background: #321b5a;
    border-radius: 15px;
    color: #FFF;
    font-size: 24px;
    box-shadow: 3px 3px 6px 2px #222;
}

#scoreBoard > h3 {
    margin: 0;
}

#message.rightChoice {
    animation-duration: 1s;
    animation-name: rightChoice;
}

@keyframes rightChoice {
    from { color: #FFF; }
    to { color: #ffc107; }
}

section {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: green;
    text-shadow: 0px 0px 9px #ffffff;
    font-size: 4em;
    margin: 0 0 0 1em;
    margin-left: 1em;
}

#board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 10px;
}

.card {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin: 10px;
    border: 3px solid #FFF;
    padding: 6px;
    box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.75);
    background: center no-repeat;
    background-size: contain;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 8px 10px 10px 6px rgba(0, 0, 0, 0.75);
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/***************************
        Media Queries 
****************************/
@media screen and (max-width: 855px) {
    h1 {
        text-align: center;
        margin: 0 auto;
    }
    #scoreBoard {
        margin: 0;
        width: 100%;
        border-radius: 0;
        text-align: center;
    }
}
