#wrapper {
    display: flex;
    flex-flow: row wrap;
}

section {
    width: 80%;
    margin: 0 auto;
}

#board {
    /* width: 85%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    width: 170px;
    height: 170px;
    border-radius: 3px;
    background-color: #222;
    margin: 10px;
}